<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.WorkoutPlan"
        tools:targetApi="31">
        <activity
            android:name=".popup_plan"
            android:exported="false" />
        <activity
            android:name=".popup_leg_raises"
            android:exported="false" />
        <activity
            android:name=".popup_mountain_climber"
            android:exported="false" />
        <activity
            android:name=".popup_heel_touch"
            android:exported="false" />
        <activity
            android:name=".popup_russian_twist"
            android:exported="false" />
        <activity
            android:name=".popup_abdominal_crunches"
            android:exported="false" />
        <activity
            android:name=".popup_jumping_jacks"
            android:exported="false" />
        <activity
            android:name=".AdvancedBack"
            android:exported="false" />
        <activity
            android:name=".AdvancedLegs"
            android:exported="false" />
        <activity
            android:name=".AdvancedArms"
            android:exported="false" />
        <activity
            android:name=".AdvancedChest"
            android:exported="false" />
        <activity
            android:name=".AdvancedAbs"
            android:exported="false" />
        <activity
            android:name=".IntermediateBack"
            android:exported="false" />
        <activity
            android:name=".IntermediateLegs"
            android:exported="false" />
        <activity
            android:name=".IntermediateArms"
            android:exported="false" />
        <activity
            android:name=".IntermediateChest"
            android:exported="false" />
        <activity
            android:name=".IntermediateAbs"
            android:exported="false" />
        <activity
            android:name=".BeginnerBack"
            android:exported="false" />
        <activity
            android:name=".BeginnerLegs"
            android:exported="false" />
        <activity
            android:name=".BeginnerArms"
            android:exported="false" />
        <activity
            android:name=".BeginnerChest"
            android:exported="false" />
        <activity
            android:name=".BeginnerAbs"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>